.head {
    width: 100%;
    height: 66px;
}
.logo {
    width: 30%;
    height: 66px;
    background: greenyellow;
    float: left;
}

.banner {
    width: 70%;
    height: 66px;
    background: #af2fff;
    float: left;
}

.nav {
    margin-top: 5px;
    clear:both;
    width: 100%;
    height: 30px;
    background: red;
}

.content {
    margin-top: 5px;
    width: 100%;
    height: 700px;
}

.left {
    width: 15%;
    height: 700px;
    float: left;
}

.left-top {
    width: 100%;
    height: 200px;
    background: gray;
}
.left-bot {
    margin-top: 5px;
    width: 100%;
    height: 300px;
    background: black;
}

.mid {
    width: 60%;
    height: 700px;
    background: red;
    float: left;
}

.right {
    width: 25%;
    height: 700px;
    background: blue;
    float: left;
}